xsd/quarto.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="quarto" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="quarto">
    <xs:sequence>
      <xs:element name="numero" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>
</xs:schema>

